### Q. Exercise 12 기본자료형

In [1]:
print("10, 2.2, \"fun-coding\" 각각을 변수에 넣고, 각데이터 타입 출력")
num = 10
digit = 2.2
data = "fun-coding"

print (type(num))
print (type(2.2))
print (type(data))

10, 2.2, "fun-coding" 각각을 변수에 넣고, 각데이터 타입 출력
<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
print("Exercise 13")
code = '000060\n000000102\t12312312'
print(code)

Exercise 13
000060
000000102	12312312

In [3]:
print("Exercise 13-2")
print('000060\t0000001010\t123123123')

Excercise 13-2
000060	0000001010	123123123

In [4]:
print("Exercise 13-3")
print('hello\nhello\nenter')

Excercise 13-3
hello
hello
enter

In [6]:
print('Exerceis 14 조건문' )
num1 = input()
num2 = input()

# 틀린 조건문
if num1 > num2:
    print (num1)
else:
    print (num2)

Excerceis 14 조건문
100
99
99

In [7]:
print ('Exercise 14-1 조건문 (옳은것)')
num1 = input()
num2 = input()

if (int(num1)) > (int(num2)):
    print (num1)
else :
    print (num2)

Excercise 14-1 조건문 (옳은것)
100
99
100

In [10]:
print ('Exercise 15 조건문\n사용자로부터 입력받은 숫자가 홀수인지 짝수인지 출력하세요')
num = int(input())
print(type(num))

if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

Excercise 15 조건문
사용자로부터 입력받은 숫자가 홀수인지 짝수인지 출력하세요
5
<class 'int'>
홀수

In [12]:
print ('Exercise 16 조건문 \n사용자로부터 세 개의 숫자를 입력 받은 후 가장 작은 숫자를 출력하세요')
digit1 = int(input())
digit2 = int(input())
digit3 = int(input())

if(digit1 < digit2) :
    min = digit1
else :
    min = digit2
    
if(min < digit3):
    print (min)
else:
    print (digit3)

Excercise 16 조건문
사용자로부터 세 개의 숫자를 입력 받은 후 가장 작은 숫자를 출력하세요
3
1
5
1

In [16]:
print('Exercise 17 조건문\n사용자로부터 점수를 입력받은 후 등급 출력\nA:81~100, B: 61~80, C: 0~60')
score = int(input())

if (score > 80) :
    print('Score : A')
elif (score > 60) :
    print('Score : B')
else :
    print('Score : C')

Excercise 17 조건문
사용자로부터 점수를 입력받은 후 등급 출력
A:81~100, B: 61~80, C: 0~60
90
Score : A

In [18]:
print ('Exercise 18 데이터구조 (리스트) \n사용자로부터 주민등록번호를 입력받아 출생연도를 출력하세요') 
p_id = input()
print(p_id[0:2])

Exercise 18 데이터구조 (리스트)
사용자로부터 주민등록번호를 입력받아 출생연도를 출력하세요
920113
92

In [21]:
print ('Exercise 19 데이터구조 (리스트) \n주민번호 입력받아 뒷자리 맨 앞의 숫자 출력') 
p_id = "920113-1067018"
print (p_id[7])

Exercise 19 데이터구조 (리스트)
주민번호 입력받아 뒷자리 맨 앞의 숫자 출력
10

In [26]:
print ('Exercise 20 데이터구조 (리스트) \n주민번호 입력받아 남자와 여자 출력') 
p_id = input()
data = p_id[7]

if (data == "1") :
    print('남자')
elif (data == "2") :
    print('여자')
else:
    print('주민번호 확인요망')

Exercise 20 데이터구조 (리스트)
주민번호 입력받아 남자와 여자 출력
920113-4
주민번호 확인요망

In [29]:
print ('Exercise 21 문자열 다루기 (strip) \n다음 문자열에서 ...를 제거하라')
mystr = "a man goes into the room..."
print (mystr.strip(".") + ".")

Exercise 21 문자열 다루기 (strip)
다음 문자열에서 ...를 제거하라
a man. goes into the room.

In [35]:
print('Exercise 22 문자열 다루기 (strip)\n주식 종목을 나타내는 종목코드에 공백과 줄바꿈 기호가 포함되어있다.\n공백과 줄바꿈 기호를 제거하고 종목코드만을 추출하라')
code=  '             000660\n             '
print(code.strip(' \n'))

Exercise 22 문자열 다루기 (strip)
주식 종목을 나타내는 종목코드에 공백과 줄바꿈 기호가 포함되어있다.
공백과 줄바꿈 기호를 제거하고 종목코드만을 추출하라
000660

In [40]:
print('Exercise 23 문자열 다루기 (count)')
#python 문자의 빈도수 출력
script = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. "

cnt_script = script.count("Python")
print(cnt_script)

# Exercise 24
cnt2_script = script.count("P")
print(cnt2_script)

cnt2_script = script.count("p")
print(cnt2_script)

#대문자, 소문자 구분함

Exercise 23 문자열 다루기 (count)
2
2
9

In [45]:
print('Exercise 25 문자열 다루기 (문자열 인덱싱) \nletters라는 변수에 들어 있는 문자열에서 두번재와 네번째 문자를 출력하라')
letters = "pytnhondn"
print(letters[1])
print(letters[3])
print(letters.find("n")) # 인덱스 번호 출력

Exercise 25 문자열 다루기 (문자열 인덱싱)
letters라는 변수에 들어 있는 문자열에서 두번재와 네번째 문자를 출력하라
y
n
3

In [47]:
# 문자열을 입력받아서 문자 n 이들어있는지 출력. 들어있으면 0, 없으면 -1 출력

data = input()
if (data.find("n")) >=0 :
    print(0)
else :
    print (-1)

adf
-1

In [52]:
# 28. 문자열 인덱싱 , 조건문 
# 주민번호 뒷자리 7자리중 두번째부터 세번째는 출생지역 코드 (000000-0000000)
# 지역코드 00~08 : 서울 09~12 : 부산

data = input()
print(data [8:10])

p_data = data[8:10]
print (type(p_data))
print (int(p_data))

p_data = int(p_data)

if (p_data < 9 ) :
    print ('서울')
elif (p_data <13) :
    print ('부산')
else :
    print ('다른지역')

920113-1067018
06
<class 'str'>
6
서울

In [55]:
# 29 문자열 다루기 split
#letters 라는 변수에 Dave, David, Andy가 있는데 ,를 기준으로 분리해서 출력할것
# ex) 'Dave', 'David', 'Andy'

letters = "Dave, David, Andy"
data = letters.split(",")
print (data)

for eachletter in data:
    print(eachletter)
    
print (data[0])

['Dave', ' David', ' Andy']
Dave
 David
 Andy
Dave

In [57]:
#30 문자열 다루기 split
# 다음과 같은 파일 이름(확장자포함)에서 확장자를 제거한 파일 이름만 출력하세요
file = 'exercise01.docx'

print (file.split(".")[0])

#split을 하면 배열이 되므로 인덱스로 값에 접근할수있다

exercise01